.Button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px outset white;
  outline: none;
  background-color: rgba(255,255,255,0.75);
  transition: .3s linear all;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  &:hover {
    background-color: rgba(255,255,255,9);
  }
}

.operation {
  background-color: rgba(150,150,150,.6);
}

.controls {
  background-color: rgba(76, 202, 255, 0.6);
}

.equals {
  border-bottom-right-radius: 10px;
  background-color: rgba(160, 255, 248, 0.6);
}

.point {
  border-bottom-left-radius: 10px;
}

.spanTwo {
  grid-column: span 2;
}


