.Screen {
  grid-column: 1 / -1;
  background-color: rgba(60, 64, 67, 0.5);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 10px;
  word-wrap: break-word;
  word-break: break-all;
  text-align: right;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
}

