.Calculator {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 400px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
