.modal-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .modal-window {
    width: 400px;
    height: 350px;
    background-color: #fafafa;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    .results {
      width: 100%;

      .results-table {
        width: 100%;
        border-collapse: collapse;

        thead,
        tbody {
          tr {
            text-align: left;
            td {
              padding: 5px;
              border: 1px solid #ccc;
            }
          }
        }

        thead {
          background-color: #fafafa;
        }

        tbody {
          tr {
            &:nth-child(odd) {
              background-color: #fafafa;
            }
          }
        }
      }
    }

    .close {
      position: absolute;
      top: -15px;
      right: -15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #cccccc;
      background-color: white;
      cursor: pointer;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
      transition: border linear 0.2s, transform linear 0.2s,
        box-shadow linear 0.2s;
      transform: scale(1);

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 4px;
        border-radius: 2px;
        background-color: #cccccc;
        transition: background-color linear 0.2s;
      }
      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:hover {
        border-color: black;
        &:before,
        &:after {
          background-color: black;
        }
      }

      &:active {
        box-shadow: unset;
        transform: scale(0.9);
      }
    }
  }
}
